
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    color: #949597;
    background: #F7F9FC;
    line-height: 19.2px;
}


/* navbar */
.cro-navbar{
    margin-top: 12px;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.cro-navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cro-navbar-img-logo{
    display: inline-block;
    z-index: 16;
}

.cro-navbar-img-logoImg{
    display: block;
}

.cro-navbar-nav{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cro-navbar-nav-ul{
    display: flex;
    align-items: center;
    gap: 49px;
    margin: 0;
    padding: 0;
}

.cro-navbar-nav-li{
    list-style: none;
}

.cro-navbar-nav-li a{
    font-size: 16px;
    color: #676767;
    transition: .3s;
    display: block;
    padding: 26px 0px;
    text-decoration: none;
}

.cro-navbar-nav-li.liOne a{
    color: #6480F6;
}

.cro-navbar-nav-li a:hover{
    color: #6480F6;
}

.cro-navbar-logIn .theme-btn{
    color: #fff;
    display: inline-block;
    transition: .3s;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    background-color: rgb(50, 50, 50);
}

.cro-navbar-logIn .theme-btn:hover{
    background-color: #6480F6;
}

/* About */

.cro-about-area{
    padding-top: 80px;
}

.cro-about-area-sectionOne{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
}

.cro-about-area-sectionOne-img.about-me-box{
    background-color: #FFFFFF;
    position: relative;
    padding: 50px 46px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}

/* .cro-about-area-sectionOne-img.about-me-box a{
    cursor: pointer;
} */

.cro-about-area-sectionOne-img-box {
    width: 224px;
    height: 224px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #3C58E3 -15%, #C2EBFF 58%, #5AB5E2 97%);
    border-radius: 30px 0 30px 0;
    flex: none;
}

.cro-about-area-sectionOne-img-boxImg{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cro-about-area-sectionOne-des-h4{
    color: #BCBCBC;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
}

.cro-about-area-sectionOne-des-h1{
    font-size: 36px;
    line-height: 40px;
    color: #0F0F0F;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 0;
}

.cro-about-area-sectionOne-des-p{
    color: #B0B1B2;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
    margin-top: 0;
}



a.cro-about-area-sectionOne-des-btn {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0.2;
    transition: .3s;
}

img.cro-about-area-sectionOne-des-btnImg {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.cro-about-area-sectionOne-img.about-me-box:hover .cro-about-area-sectionOne-des-btn {
    opacity: 0.9;
}

.cro-about-area-sectionOne-details-tab-img {
    display: flex;
    gap: 10px;
}

.cro-about-area-sectionOne-details-tab {
    margin-top: 0;
    padding: 17px 25px;
    width: 100%;
}

h4.cro-about-area-sectionOne-details-tab-h4 {
    background-color: #FFFFFF;
    padding: 17px 25px;
    border-radius: 30px;
}

.cro-about-area-sectionOne-details-tab-imgOne {
    width: 100%;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

img.cro-about-area-sectionOne-details-tab-imgOne-linkImg {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

h4.cro-about-area-sectionOne-details-tab-imgOne-det-h4 {
    color: #BCBCBC;
    font-size: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 5px;
}

h1.cro-about-area-sectionOne-details-tab-imgOne-det-h1 {
    font-size: 20px;
    color: #0F0F0F;
    font-weight: 500;
    margin-top: 0;
    margin-left: 5px;
}

.cro-about-area-sectionOne-details-tab-imgTwo {
    width: 100%;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.cro-about-area-sectionOne-details-tab-imgOne-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cro-about-area-sectionOne-des-btn-btnImg {
    display: block;
    opacity: 0.2;
    transition: .3s;
}

a.cro-about-area-sectionOne-des-btnImg {
    height: auto;
    max-width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.cro-about-area-sectionOne-details-tab-imgOne:hover .cro-about-area-sectionOne-des-btn-btnImg {
    opacity: 0.9;
}
  
.cro-about-area-sectionOne-details-tab-imgTwo:hover .cro-about-area-sectionOne-des-btn-btnImg {
    opacity: 0.9;
}
  

@media (min-width: 768px){
    .cro-about-area-sectionOne-img.about-me-box{
        width: 50%;
    }
    .cro-about-area-sectionOne-details{
        width: 35%;
    }
}
